.color
{
    background: gray;
}

.asasasa{
    box-shadow: 0 0 5px 0 rgba(255,153,0,1);
    border: 2px solid #FFF !important;
    outline: 0;
}

.bg-color{
    background-color: rgb(223, 253, 241);
}