<<<<<<< HEAD
.id{
    background-color: aqua;
    margin-left: 23px;
    margin-right: 23px;
}
.pass{
    background-color: aquamarine;
   
=======
.nahfjjknnvja{
    outline:dotted 4px red;
>>>>>>> DInputFrame
}